:root {
  --especial-color: #001d45;
  --second-color: #002e6c;
  --flowui-component-library--gray-900: #160042;
  --flowui-component-library--gray-200: #f3f5fb;
  --flowui-component-library--primary-base: #642eff;
  --flowui-component-library--grey-600: #393b6a;
  --flowui-component-library--white: white;
  --flowui-component-library--gray-700: #282556;
  --flowui-component-library--grey-300: #e4e6f1;
  --flowui-component-library--gray-100: #f7f9fd;
  --alley-component-library--neutral--off-white: #f4f4f6;
  --radiant-ui-components-library-marketplace--color--heading-dark: #150438;
  --radiant-ui-components-library-marketplace--color--theme-color: #116df8;
  --radiant-ui-components-library-marketplace--color--white: white;
  --radiant-ui-components-library-marketplace--color--body-font-dark: #6d6d6d;
  --main-color: #004aad;
  --tipografia-color: #a3caff;
  --radiant-ui-components-library-marketplace--color--button-background-dark: #131218;
  --radiant-ui-components-library-marketplace--light-grey: #5a5a5a;
  --flowui-component-library--gray-500: #6b7094;
  --flowui-component-library--gray-800: #1b114a;
  --flowui-component-library--primary-dark: #2d0896;
  --flowui-component-library--gray-400: #b6b9ce;
  --alley-component-library--blue--800: #6478f7;
  --alley-component-library--blue--900: #5167f6;
  --alley-component-library--blue--700: #7788f8;
  --alley-component-library--blue--100: #eceefe;
  --alley-component-library--gray--900: #131316;
  --flowui-component-library--primary-darker: #1e085e;
  --flowui-component-library--primary-lighter: #f7f5ff;
}

a {
  text-decoration: underline;
}

.grid-2 {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0;
  padding: 0 5vw;
}

.h2-home {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 55px;
  padding-bottom: 20px;
  font-family: Exo, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.h2-home.pt {
  color: var(--especial-color);
  margin-bottom: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-size: 3vw;
  font-weight: 400;
}

.section-datos {
  background-color: #d4e0ff;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 0;
  padding: 3vw 0;
  position: relative;
}

.div-beneficios {
  background-color: #fff;
  border-radius: 1vw;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  display: flex;
  box-shadow: 0 0 13px -1px #00000045;
}

.text-beneficios {
  text-align: center;
  width: 250px;
  font-family: Exo, sans-serif;
  font-weight: 500;
}

.text-beneficios.pt {
  font-size: 1.2vw;
  line-height: 1.5vw;
}

.section-landing-page {
  z-index: 2;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: none;
  position: static;
}

.div-block-38 {
  z-index: 2;
  text-align: left;
  background-color: #002e6c;
  border: 7px #fff;
  border-radius: 0;
  width: 100%;
  margin-top: 0;
  padding: 30px 50px;
  position: relative;
}

.div-block-40 {
  z-index: 2;
  background-color: #004aad;
  border: 1px #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  padding: 20px 0;
  display: flex;
  position: static;
}

.div-1 {
  z-index: 0;
  text-align: left;
  background-image: repeating-radial-gradient(circle at 0%, #ffffffed, #fff 40%);
  border: 5px #fff;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 0 0 0;
  display: block;
  position: relative;
}

.div-1.es {
  margin-top: 50px;
}

.column-9 {
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.content-logotipos {
  background-color: var(--second-color);
  margin-top: 0;
  padding-top: 0;
}

.div-block-49 {
  background-color: var(--especial-color);
  border: 1px #000;
  margin-top: 0;
  padding: 0;
  display: block;
  position: relative;
}

.socialmeia-embed {
  display: none;
}

.formpopup-embed {
  display: block;
}

.descrip-logotipos {
  z-index: 1;
  color: #984f4f00;
  border-radius: 0;
  margin-top: 0;
  display: block;
  position: relative;
}

.div-block-57 {
  margin-top: 0;
  position: relative;
}

.planes-logotipos {
  z-index: 1;
  position: relative;
}

.div-block-60 {
  background-color: #004aad;
  margin-top: 0;
  position: relative;
}

.planes-hospedagem {
  z-index: 1;
  margin-bottom: 0;
  position: relative;
}

.section-hospedagem {
  position: relative;
}

.content-hospedagem {
  margin-top: 0;
}

.div-block-61 {
  background-color: #002e6c;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-embed-mobile {
  width: 100%;
  margin-bottom: 0;
  display: none;
}

.body-7 {
  background-color: #fff;
  border: 0 #000;
  padding-top: 10vw;
}

.body-7.simulador {
  background-color: #fff;
  padding-top: 0;
}

.section-4 {
  background-color: #f0f2f4;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
  padding-bottom: 15vw;
  display: flex;
}

.body-8 {
  background-color: #000;
}

.planos-landing-pages {
  display: none;
}

.embed-avalia-es {
  background-color: #ededed00;
  margin-bottom: 0;
}

.section-avalia-es {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
}

.heading-4 {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: Exo, sans-serif;
  font-size: 1.4vw;
  line-height: 2vw;
}

.section-5 {
  padding-top: 2vw;
  padding-bottom: 5vw;
}

.section-pre-rodape {
  background-color: #ececec;
  justify-content: center;
  align-items: center;
}

.section-rodape {
  background-color: #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 6vw 0 0;
  display: flex;
}

.div-block-84 {
  justify-content: space-between;
  align-items: center;
  width: 99vw;
  margin-top: 0;
  padding-bottom: 5vw;
  padding-left: 8vw;
  padding-right: 8vw;
  display: flex;
}

.heading-27 {
  color: #fff;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  width: 99vw;
  height: 11vw;
  margin-top: 2vw;
  margin-bottom: 1vw;
  padding-left: 8vw;
  font-family: Exo, sans-serif;
  font-size: 8vw;
  font-weight: 400;
  display: flex;
}

.image-contato {
  border-radius: 1vw;
  width: 5vw;
  max-width: none;
  height: 5vw;
}

.column-13 {
  padding-left: 0;
  padding-right: 5vw;
}

.column-14 {
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 0;
  padding-right: 0;
}

.column-15 {
  padding-left: 0;
  padding-right: 0;
}

.div-block-86 {
  margin-top: 40px;
}

.text-block-29 {
  font-family: Exo, sans-serif;
  font-size: 1.4vw;
  font-weight: 400;
}

.heading-29 {
  text-align: left;
  margin-bottom: 20px;
  font-family: Exo, sans-serif;
  font-size: 3.5vw;
  font-weight: 600;
}

.text-block-30 {
  font-family: Exo, sans-serif;
  font-size: 1.4vw;
}

.text-contato {
  margin-top: 1vw;
  font-family: Exo, sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
}

.text-block-contato-secondary {
  font-family: Exo, sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  line-height: 1.9vw;
}

.text-block-contato {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: Exo, sans-serif;
  font-size: 1.4vw;
  font-weight: 300;
  line-height: 1.9vw;
}

.div-block-87 {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-5 {
  color: #8f8f8f;
  text-align: center;
  margin-right: 2vw;
  font-size: 1.4vw;
  text-decoration: none;
}

.text-block-40 {
  color: #8f8f8f;
  font-size: 1.4vw;
}

.image-beneficios {
  width: 3vw;
  max-width: none;
  height: 3vw;
}

.columns-6 {
  justify-content: center;
  align-items: center;
}

.embed-menu-flutuante, .form-mobile {
  display: none;
}

.body-10 {
  background-color: #fff;
  padding-top: 15vw;
}

.body-11 {
  padding-top: 15vw;
}

.code-embed-46 {
  display: block;
}

.section-10 {
  padding-top: 10vw;
}

.div-block-95 {
  background-color: var(--second-color);
  border: 0 #000;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.code-embed-48 {
  background-color: #ededed;
}

.f-navigation-link {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.01em;
  white-space: nowrap;
  background-color: #0000;
  border-radius: 50px;
  padding: .8vw 2.5vw;
  font-family: Exo, sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all .35s;
}

.f-navigation-link:hover {
  background-color: var(--flowui-component-library--gray-200);
  color: var(--flowui-component-library--gray-900);
}

.f-navigation-link.w--current {
  color: var(--flowui-component-library--primary-base);
  font-size: 1.3vw;
}

.f-navigation {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vw;
  padding: 24px 5%;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.f-navigation-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 4vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.f-navigation-link-wrapper {
  grid-column-gap: 24px;
  align-items: center;
  display: flex;
}

.f-navigation-content {
  grid-column-gap: 8px;
  align-items: center;
  display: flex;
}

.f-icon-regular {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: color .2s;
  display: flex;
}

.f-navigation-menu {
  grid-column-gap: 6px;
  align-items: center;
  display: flex;
  position: static;
}

.f-navigation-button {
  background-color: var(--flowui-component-library--gray-900);
  outline-offset: 0px;
  color: var(--flowui-component-library--white);
  text-align: center;
  letter-spacing: -.02em;
  border-radius: 48px;
  outline: 2px solid #0000;
  justify-content: center;
  align-items: center;
  padding: .5vw 1.5vw;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.f-navigation-button:hover {
  background-color: var(--flowui-component-library--gray-700);
}

.f-navigation-language-dropdown-toggle {
  grid-column-gap: 8px;
  border-left: 1px solid var(--flowui-component-library--grey-300);
  letter-spacing: -.02em;
  padding: 4px 24px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
}

.f-navigation-dropdown-list, .f-navigation-dropdown-list.w--open {
  background-color: #fff;
}

.f-navigation-dropdown-link {
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  transition: background-color .3s;
}

.f-navigation-dropdown-link:hover {
  background-color: var(--flowui-component-library--gray-100);
}

.f-navigation-dropdown {
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
  font-weight: 500;
  display: none;
}

.text-block-42 {
  font-family: Exo, sans-serif;
  font-size: 1.3vw;
}

.text-block-43 {
  font-family: Exo, sans-serif;
  font-size: 1.4vw;
}

.image-25 {
  min-width: 15vw;
  min-height: 3vw;
}

.div-block-96 {
  justify-content: center;
  align-items: center;
  height: 80vh;
  display: flex;
}

.cta-buttom-desktop {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.rt-number-block-2 {
  text-align: center;
  flex: 1;
  position: relative;
}

.a-pricing-card {
  background-color: var(--alley-component-library--neutral--off-white);
  border: 2px solid #000;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 2vw 3vw;
  display: flex;
  box-shadow: 0 0 12px -2px #00000052;
}

.rt-category-cards-text-2 {
  color: var(--radiant-ui-components-library-marketplace--color--heading-dark);
  text-transform: capitalize;
  font-family: Exo, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
}

.rt-category-cards-text-2.rt-text-lowarcase {
  text-transform: lowercase;
}

.rt-text-blue {
  color: var(--radiant-ui-components-library-marketplace--color--theme-color);
}

.rt-component-container-3 {
  width: 100%;
  max-width: none;
  position: relative;
}

.rt-component-section-4 {
  background-color: var(--radiant-ui-components-library-marketplace--color--white);
  color: var(--radiant-ui-components-library-marketplace--color--body-font-dark);
  padding: 4vw 15px 6vw;
  font-family: Outfit;
  font-size: 17px;
  font-weight: 300;
  line-height: 29px;
  position: relative;
}

.rt-sub-heading {
  color: #060606;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.rt-sub-heading.rt-text-blue {
  color: #384bf8;
}

.rt-sub-heading.rt-text-blue.rt-about-one-hero-about-title {
  font-family: Exo, sans-serif;
  font-weight: 600;
}

.rt-contact-link-block {
  text-decoration: none;
}

.rt-contact-type {
  margin-bottom: 5px;
}

.rt-contact-type.rt-align {
  font-family: Exo, sans-serif;
}

.rt-contact-us-main-block {
  grid-column-gap: 3vw;
  grid-row-gap: 1.6vw;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.rt-info-icon {
  width: 30px;
}

.rt-contact-form-text {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  color: var(--radiant-ui-components-library-marketplace--color--body-font-dark);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rt-info-block {
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.rt-contact-one-information-box {
  grid-column-gap: 2vw;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  padding: 20px 70px 20px 32px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 80px #7885ed;
}

.rt-contact-icons {
  width: 100%;
}

.rt-call {
  text-decoration: none;
}

.button {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #1f6fff;
  border-radius: 3px;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s, background-position .2s, color .2s, border .2s, box-shadow .2s;
  display: none;
}

.button:hover {
  color: #fff;
  background-color: #0b4fc9;
  box-shadow: 0 8px 16px 4px #0000004d;
}

.button.text-button {
  color: #fff;
  background-color: #1f6fff;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 29px;
  transition: background-color .2s;
  display: inline-block;
}

.button.text-button:hover {
  background-color: #000;
}

.home-intro-wrapper {
  color: #9a9da3;
  width: 30%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.home-intro-wrapper.mid {
  z-index: 10;
  width: 47%;
  top: -56px;
  left: 250px;
}

.home-intro-wrapper.right {
  top: 0;
  left: auto;
  right: 0;
}

.section-portfolio {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 0;
  position: relative;
}

.intro-block-text-wrapper {
  text-align: center;
  width: 200px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.intro-block-text-wrapper.mid {
  width: 68%;
}

.intro-block-text-wrapper.last {
  width: 240px;
  margin-left: auto;
  padding-left: 20px;
}

.intro-block-title {
  color: #2e3241;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 600;
}

.intro-block-overlay {
  opacity: 0;
  color: #fff;
  text-align: center;
  background-color: #0000;
  border-radius: 3px;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color .2s, opacity .2s;
  display: flex;
}

.intro-block-overlay:hover {
  opacity: 1;
  background-color: #0000004d;
}

.home-intro-link-block {
  background-image: url('../images/screencapture-stormcoreofficial-github-io-Modelo-Clinica-Clipetilha-2025-05-06-20_22_39-1.png');
  background-position: 50% 0;
  background-size: cover;
  border-radius: 3px;
  width: 100%;
  height: 340px;
  text-decoration: none;
  display: block;
  overflow: hidden;
  box-shadow: 0 0 20px #0000004d;
}

.home-intro-link-block:hover {
  text-decoration: none;
}

.home-intro-link-block._3 {
  background-image: url('../images/screencapture-stormcoreofficial-github-io-DungeonGamers-2025-05-06-20_20_19.png');
}

.home-intro-link-block._2 {
  background-image: url('../images/screencapture-stormcoreofficial-github-io-Aluguel-motos-2025-05-06-20_19_52.png');
  background-size: cover;
  height: 450px;
}

.container-2 {
  position: relative;
}

.container-2.home-intro-container {
  text-align: center;
  height: 610px;
  margin-top: -127px;
}

.container-2.hero-container {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-column-right {
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 70px;
}

.info-column-right.responsive {
  padding-top: 50px;
  padding-bottom: 40px;
}

.description-paragraph {
  color: #767676;
  font-family: Exo, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.left-feature-icon {
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.long-feature-block {
  margin-top: 25px;
  padding-left: 65px;
  padding-right: 20px;
  position: relative;
}

.section-title-wrapper {
  text-align: center;
  width: 60%;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.section-title-wrapper.full {
  text-align: left;
  flex-direction: row;
  width: 100%;
}

.long-feature-title {
  margin-bottom: 14px;
  font-family: Exo, sans-serif;
  font-size: 19px;
}

.home-mockup {
  z-index: 3;
  width: 715px;
  position: absolute;
  top: 3px;
  left: -290px;
}

.home-mockup.iphone {
  z-index: 5;
  width: 130px;
  top: 180px;
  left: 270px;
}

.home-mockup.ipad {
  z-index: 4;
  width: 251px;
  top: 59px;
  left: 85px;
}

.section-responsive {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.section-responsive.images {
  padding-left: 20vw;
  overflow: hidden;
}

.section-title {
  margin-top: 0;
  font-family: Exo, sans-serif;
  font-size: 46px;
  font-weight: 300;
  line-height: 40px;
}

.hero-overlay-block {
  background-color: #1f6fffcc;
  width: 100%;
  height: 100%;
  padding-top: 240px;
  padding-bottom: 210px;
}

.hero-main-title {
  color: #fff;
  margin-top: 0;
  font-size: 70px;
  font-weight: 600;
  line-height: 54px;
}

.hero-main-title.subtitle {
  width: 70%;
  margin: 35px auto 20px;
  font-family: Exo, sans-serif;
  font-size: 22px;
  font-weight: 200;
  line-height: 32px;
  display: block;
}

.section-hero {
  height: auto;
}

.dropdown-icon {
  opacity: .4;
  margin-right: 10px;
}

.navbar {
  background-color: #0000;
  border-bottom: 1px solid #ffffff1a;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.navbar._2 {
  background-color: #004aad;
}

.dropdown-list.w--open {
  background-color: #fff;
  border-radius: 3px;
  margin-top: 10px;
  overflow: hidden;
  box-shadow: 0 0 30px #0000001a;
}

.nav-link-2 {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #0000;
  border: 1px solid #0000;
  border-radius: 5px;
  margin-right: 3px;
  padding: 11px 15px;
  font-size: 13px;
  line-height: 12px;
  transition: background-color .2s, border .2s;
}

.nav-link-2:hover {
  background-color: #0000;
  border-color: #0003;
}

.nav-link-2.dropdown-toggle {
  padding-right: 30px;
}

.nav-link-2.dropdown-toggle.w--open {
  background-color: #0000001a;
}

.nav-link-2.dropdown-toggle.light {
  padding-right: 30px;
}

.nav-link-2.light {
  color: #fff;
  margin-right: 2px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: Exo, sans-serif;
  font-weight: 500;
}

.nav-link-2.light:hover, .nav-link-2.light.w--current {
  border-color: #fff3;
}

.nav-menu {
  z-index: 1;
  border-radius: 4px;
  margin-top: 0;
}

.logo-block {
  z-index: 10;
  margin-right: 30px;
}

.logo-block.w--current {
  justify-content: center;
  align-items: center;
}

.dropdown-link {
  font-size: 13px;
  transition: background-color .2s, color .2s;
}

.dropdown-link:hover {
  color: #fff;
  background-color: #1f6fff;
}

.dropdown-link.w--current {
  color: #1f6fff;
}

.dropdown-link.w--current:hover {
  color: #fff;
}

.bold-text {
  font-family: Exo, sans-serif;
}

.butom1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #1f6fff;
  border-radius: 3px;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s, background-position .2s, color .2s, border .2s, box-shadow .2s;
}

.butom1:hover {
  color: #fff;
  background-color: #0b4fc9;
  box-shadow: 0 8px 16px 4px #0000004d;
}

.butom1.full {
  color: #1f6fff;
  text-align: center;
  background-color: #fff;
  width: 20vw;
  padding: 15px 40px;
  font-family: Exo, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  display: block;
}

.butom1.pricing-start {
  text-align: center;
  margin-top: 0;
  font-family: Exo, sans-serif;
  display: block;
}

.butom1.pricing-start.hp {
  background-color: #019c07;
}

.butom1.pricing-start.lg {
  background-color: #b89600;
}

.color-pricing-title {
  color: #5ec045;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 2px;
  font-size: 23px;
}

.pricing-content-block {
  border-bottom: 1px solid #f0f0f0;
  padding: 0 28px 28px;
}

.pricing-content-block.first {
  background-color: #f3f3f380;
  justify-content: center;
  align-items: center;
  height: 115px;
  display: flex;
}

.features-pricing-block {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px #0003;
}

.features-pricing-block.lp {
  border: 2px solid #1f6fff;
}

.features-pricing-block.hp {
  border: 2px solid #019c07;
}

.features-pricing-block.lg {
  border: 2px solid #b89600;
}

.pricing-decription {
  color: #a3a3a3;
  margin-bottom: 0;
  font-size: 15px;
}

.pricing-features-row {
  margin-top: -150px;
}

.pricing-feature-title {
  color: #4c4c4c;
  text-align: left;
  font-size: 14px;
  display: inline-block;
}

.section-feature {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.section-feature.tint {
  background-color: #f5f5f5;
  padding-top: 10vw;
}

.feature-list {
  margin-bottom: 0;
}

.feature-list-item {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  display: flex;
}

.section-description {
  margin-top: 30px;
  font-size: 21px;
  font-weight: 300;
  line-height: 27px;
}

.section-description.small {
  width: 70%;
  margin-top: 25px;
  font-family: Exo, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.feature-info-paragraph {
  opacity: .7;
  text-align: left;
  font-family: Exo, sans-serif;
  font-size: 14px;
}

.feature-info-icon {
  float: left;
  height: 35px;
  margin-right: 15px;
}

.feature-info-row {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.feature-info-title {
  text-align: left;
  margin-top: 8px;
  margin-bottom: 30px;
  font-family: Exo, sans-serif;
  font-size: 21px;
  font-weight: 400;
}

.image-section-overlay {
  color: #fff;
  background-color: #2c2e31b3;
  width: 100%;
  height: 100%;
  padding-top: 145px;
  padding-bottom: 105px;
}

.image-section-overlay.color {
  background-color: #1f6fffe6;
  padding-top: 95px;
}

.section-feature2 {
  background-image: url('../images/Photo-5.jpg');
  background-position: 50%;
  background-size: cover;
}

.feature-info-column {
  padding-right: 20px;
}

.section-title-2 {
  margin-top: 0;
  font-family: Exo, sans-serif;
  font-size: 46px;
  font-weight: 300;
  line-height: 39px;
}

.feature-info-block {
  text-align: justify;
  width: 90%;
  position: relative;
}

.container {
  position: relative;
}

.heading-30 {
  color: #fff;
  border-bottom: 5px #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poiret One, sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.container-3 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.bold-text-2 {
  text-align: left;
}

.bold-text-3 {
  color: #1f6fff;
}

.bold-text-4 {
  color: #019c07;
}

.bold-text-5 {
  color: #b89600;
}

.bottom-footer-paragraph {
  float: left;
  margin-bottom: 0;
  font-size: 12px;
}

.bottom-footer-paragraph.right {
  float: right;
}

.footer-small-social-icon {
  color: #fff;
  height: 15px;
}

.footer-logo {
  color: #fff;
  text-transform: uppercase;
  font-family: Poiret One, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 17px;
}

.footer-logo.subtitle {
  opacity: .5;
  text-transform: none;
  font-size: 11px;
  font-weight: 400;
}

.section-pe {
  background-color: #2a2d30;
  padding-top: 45px;
}

.simple-bottom-footer {
  color: #979da5;
  background-color: #424549;
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 32px;
}

.footer-social-col-right {
  text-align: right;
}

.bottom-footer-link {
  color: #91959c;
}

.bottom-footer-link:hover {
  color: #ffffffb3;
}

.footer-inline-link {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: 15px;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
}

.footer-inline-link:hover {
  color: #fff6;
}

.container-4 {
  position: relative;
}

.footer-social-icon {
  color: #f1f1f1;
  text-align: center;
  background-color: #d2d2d2;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin-top: -2px;
  margin-right: 5px;
  padding-top: 5px;
  transition: background-color .2s;
}

.footer-social-icon:hover {
  background-color: #1f6fff;
}

@media screen and (min-width: 1280px) {
  .h2-home {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 55px;
    padding-bottom: 30px;
    font-size: 38px;
  }

  .div-block-38 {
    border-bottom-style: none;
  }

  .div-block-40 {
    border: 1px solid #000;
  }

  .div-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .body-7 {
    background-color: #fff;
  }

  .f-navigation-link, .f-navigation-button {
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .rt-contact-one-information-box {
    padding-right: 0;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
    height: 10vw;
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .h2-home, .section-datos {
    margin-top: 0;
  }

  .div-beneficios {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .div-block-40 {
    border: 1px #000;
  }

  .div-1 {
    padding-left: 0;
  }

  .a-pricing-card {
    padding-top: 2vw;
    padding-bottom: 1vw;
  }

  .section-responsive.images {
    padding-left: 15vw;
  }
}

@media screen and (min-width: 1920px) {
  .h2-home {
    padding-top: 65px;
  }

  .h2-home.pt {
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 2.2vw;
  }

  .div-beneficios {
    justify-content: flex-start;
    align-items: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .text-beneficios {
    width: 360px;
    font-size: 20px;
    line-height: 24px;
  }

  .text-beneficios.pt {
    font-size: 1.2vw;
    line-height: 1.5vw;
  }

  .div-block-38 {
    border-style: none;
    padding: 80px;
  }

  .div-block-40 {
    border: 1px #000;
    position: static;
  }

  .body-7 {
    padding-top: 10vw;
  }

  .heading-4 {
    font-size: 1.5vw;
  }

  .section-pre-rodape, .section-rodape {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  .heading-27 {
    font-size: 6vw;
  }

  .link-5, .text-block-40 {
    font-size: 1.2vw;
  }

  .image-beneficios {
    width: 4vw;
    height: 4vw;
  }

  .code-embed-45 {
    transform: scale(1.3);
  }

  .f-navigation-link {
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }

  .f-navigation {
    justify-content: center;
    align-items: center;
  }

  .f-navigation-container {
    max-width: none;
  }

  .rt-contact-form-text {
    width: 78%;
  }

  .button, .intro-block-title {
    font-family: Exo, sans-serif;
  }

  .section-responsive.images {
    padding-left: 0;
  }

  .navbar {
    position: fixed;
    inset: 0% 0% auto;
  }

  .section-feature.tint {
    padding-top: 6vw;
  }
}

@media screen and (max-width: 991px) {
  .grid-2 {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .h2-home.pt {
    font-size: 4vw;
    line-height: 3.5vw;
  }

  .text-beneficios {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .text-beneficios.pt {
    font-size: 1.5vw;
    line-height: 2vw;
  }

  .div-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-embed-mobile {
    display: block;
    position: fixed;
    inset: 0% 0% auto;
  }

  .section-avalia-es {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .heading-4 {
    font-size: 2vw;
  }

  .code-embed-45 {
    transform: translate(0, -6vw);
  }

  .f-navigation-link {
    width: 100%;
  }

  .f-navigation {
    display: none;
    position: relative;
  }

  .f-navigation-menu-button {
    border: 1px solid var(--flowui-component-library--gray-200);
    color: var(--flowui-component-library--grey-600);
    border-radius: 8px;
    padding: 10px;
  }

  .f-navigation-menu-button.w--open {
    background-color: var(--flowui-component-library--gray-900);
    border-color: #fff;
  }

  .f-navigation-content {
    align-items: center;
    width: auto;
    display: flex;
  }

  .f-navigation-menu {
    background-color: var(--flowui-component-library--white);
    color: var(--flowui-component-library--grey-600);
    padding: 12px;
    position: absolute;
  }

  .f-navigation-menu.w--open {
    background-color: var(--flowui-component-library--gray-700);
    border-color: #fff;
  }

  .f-navigation-logo-link {
    margin-right: 0;
  }

  .rt-number-block-2 {
    grid-column-gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    display: flex;
  }

  .rt-contact-type.rt-align {
    text-align: center;
  }

  .rt-contact-us-main-block {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-direction: column;
  }

  .rt-contact-form-text {
    width: 100%;
  }

  .rt-info-details.rt-align {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .rt-info-block {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .rt-contact-one-information-box {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    padding-left: 30px;
    padding-right: 30px;
  }

  .button.text-button {
    font-size: 10px;
    line-height: 27px;
  }

  .home-intro-wrapper.mid {
    left: 181px;
  }

  .section-portfolio {
    padding: 79px 45px 45px;
  }

  .intro-block-text-wrapper {
    font-size: 13px;
  }

  .intro-block-text-wrapper.mid {
    width: 75%;
  }

  .intro-block-text-wrapper.last {
    width: 210px;
  }

  .info-column-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 40px;
  }

  .info-column-right.responsive {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 50px;
  }

  .section-title-wrapper {
    width: 85%;
    margin-bottom: 40px;
  }

  .section-title-wrapper.full {
    margin-bottom: 20px;
    padding-right: 40px;
  }

  .home-mockup {
    top: -27px;
    left: -350px;
  }

  .home-mockup.iphone {
    top: 140px;
    left: 170px;
  }

  .home-mockup.ipad {
    top: 19px;
    left: 25px;
  }

  .section-responsive {
    padding: 45px;
  }

  .section-title {
    margin-bottom: 4px;
    font-size: 31px;
    line-height: 30px;
  }

  .hero-overlay-block {
    background-color: #1f6fffd9;
    padding-top: 180px;
    padding-bottom: 180px;
  }

  .hero-main-title {
    font-size: 60px;
    line-height: 44px;
  }

  .hero-main-title.subtitle {
    width: 80%;
    margin-bottom: 30px;
    line-height: 34px;
  }

  .section-hero {
    background-image: url('../images/Photo-9.jpg');
    background-position: 0 0;
    background-size: 800px;
  }

  .dropdown-icon {
    margin-right: 30px;
  }

  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .dropdown-list.w--open {
    border-radius: 0;
    margin-top: 0;
    box-shadow: 0 0 #0000;
  }

  .nav-link-2 {
    color: #fff;
    border-radius: 0;
    width: 100%;
    max-width: 1200px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 35px;
  }

  .nav-link-2:hover {
    color: #fff;
    background-color: #000;
  }

  .nav-link-2.dropdown-toggle {
    color: #fff;
  }

  .nav-link-2.light {
    border-color: #0000;
    border-radius: 0;
    width: 100%;
    max-width: 1500px;
    margin-right: 0;
    padding-left: 35px;
    padding-right: 35px;
  }

  .nav-link-2.light:hover {
    background-color: #000;
  }

  .nav-link-2.light.w--current {
    border-color: #0000;
  }

  .nav-menu {
    background-color: #292c31;
    border-radius: 0;
    margin-top: 0;
  }

  .transparant-menu-button {
    color: #fff;
    text-align: center;
    background-color: #0000001a;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    padding-top: 14px;
    padding-left: 0;
    padding-right: 0;
  }

  .transparant-menu-button:hover {
    background-color: #0000004d;
  }

  .transparant-menu-button.w--open {
    background-color: #000;
  }

  .dropdown {
    width: 100%;
    max-width: 1500px;
  }

  .dropdown-link {
    padding-left: 35px;
  }

  .butom1.full {
    width: 30vw;
  }

  .pricing-features-row {
    margin-top: -160px;
  }

  .section-feature {
    padding: 45px;
  }

  .section-description {
    margin-top: 20px;
    font-size: 19px;
  }

  .section-description.small {
    width: 80%;
  }

  .feature-info-paragraph {
    text-align: left;
  }

  .feature-info-title {
    margin-top: 0;
    font-size: 17px;
  }

  .image-section-overlay, .image-section-overlay.color {
    padding: 90px 45px;
  }

  .section-title-2 {
    margin-bottom: 4px;
    font-size: 31px;
    line-height: 30px;
  }

  .footer-inline-link {
    margin-right: 9px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .grid-2 {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
    display: block;
  }

  .div-beneficios {
    margin-top: 2vw;
  }

  .text-beneficios {
    padding-left: 120px;
    padding-right: 120px;
  }

  .text-beneficios.pt {
    padding-left: 49px;
    padding-right: 50px;
  }

  .div-block-38 {
    padding-right: 50px;
  }

  .div-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-embed-mobile {
    z-index: 10;
    display: block;
  }

  .image-contato {
    width: 7vw;
    height: 7vw;
  }

  .column-14 {
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  .text-block-29 {
    font-size: 2vw;
    line-height: 3vw;
  }

  .heading-29 {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 4vw;
    line-height: 6vw;
  }

  .text-block-30 {
    font-size: 2vw;
    line-height: 3vw;
  }

  .text-contato {
    margin-top: 2vw;
    font-size: 2vw;
    line-height: 2vw;
  }

  .text-block-contato-secondary {
    font-size: 2vw;
    line-height: 2vw;
  }

  .text-block-contato {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 2vw;
    line-height: 2vw;
  }

  .link-5, .text-block-40 {
    font-size: 2vw;
  }

  .image-beneficios {
    width: 5vw;
    height: 5vw;
  }

  .columns-6 {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    display: block;
  }

  .section-10 {
    padding-top: 20vw;
  }

  .f-navigation-language-dropdown-toggle {
    display: none;
  }

  .rt-number-block-2 {
    text-align: left;
    margin-top: 20px;
  }

  .rt-sub-heading.rt-text-blue.rt-about-one-hero-about-title, .rt-contact-type {
    text-align: center;
  }

  .rt-contact-form-text, .rt-info-details {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .rt-info-block {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .rt-contact-one-information-box {
    grid-row-gap: 10px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }

  .button.text-button {
    display: inline-block;
  }

  .home-intro-wrapper {
    width: 100%;
    position: static;
  }

  .home-intro-wrapper.mid {
    width: 100%;
  }

  .section-portfolio {
    padding: 75px 25px 25px;
  }

  .intro-block-text-wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .intro-block-text-wrapper.mid {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .intro-block-text-wrapper.last {
    width: 100%;
  }

  .home-intro-link-block {
    height: 300px;
  }

  .home-intro-link-block._3 {
    height: 270px;
  }

  .home-intro-link-block._2 {
    height: 300px;
  }

  .container-2.home-intro-container {
    height: auto;
  }

  .info-column-right, .info-column-right.responsive {
    padding-left: 0;
  }

  .section-title-wrapper {
    width: 95%;
    margin-bottom: 40px;
  }

  .section-title-wrapper.full {
    margin-bottom: 30px;
  }

  .home-mockup-column {
    height: 290px;
  }

  .home-mockup {
    width: auto;
    height: 290px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 0;
    left: -350px;
    right: -350px;
  }

  .home-mockup.iphone {
    width: auto;
    height: 170px;
    top: 102px;
    right: -220px;
  }

  .home-mockup.ipad {
    width: auto;
    height: 210px;
    top: 59px;
    right: -200px;
  }

  .section-responsive {
    padding: 25px;
  }

  .section-title {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 30px;
  }

  .hero-overlay-block {
    padding: 130px 25px;
  }

  .hero-main-title {
    margin-bottom: 10px;
    font-size: 40px;
  }

  .hero-main-title.subtitle {
    margin-top: 0;
    font-size: 16px;
    line-height: 25px;
  }

  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  .nav-link-2 {
    padding-left: 25px;
  }

  .nav-link-2.light {
    padding-left: 25px;
    padding-right: 25px;
  }

  .transparant-menu-button {
    width: 40px;
    height: 40px;
    padding-top: 8px;
  }

  .dropdown-link {
    padding-left: 25px;
  }

  .butom1.full {
    width: 40vw;
    margin-top: 10px;
  }

  .features-pricing-block {
    margin-bottom: 20px;
  }

  .section-feature {
    padding: 25px;
  }

  .section-description.small {
    width: 100%;
    font-size: 18px;
  }

  .feature-info-icon {
    margin-top: -12px;
  }

  .feature-info-row {
    margin-top: 0;
  }

  .feature-info-title {
    margin-bottom: 13px;
  }

  .image-section-overlay {
    padding: 60px 25px;
  }

  .image-section-overlay.color {
    padding: 25px;
  }

  .feature-info-column {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .section-title-2 {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 30px;
  }

  .footer-row {
    padding-left: 25px;
    padding-right: 25px;
  }

  .bottom-footer-paragraph {
    float: none;
    margin-bottom: 7px;
  }

  .bottom-footer-paragraph.right {
    float: none;
  }

  .footer-menu-column {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .simple-bottom-footer {
    text-align: left;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer-social-col-right {
    text-align: left;
    padding-top: 10px;
    padding-left: 0;
  }

  .footer-logo-column-left {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .grid-2 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .h2-home {
    padding-top: 50px;
  }

  .h2-home.pt {
    margin-bottom: 0;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 25px;
    line-height: 35px;
  }

  .section-datos {
    box-shadow: none;
    background-color: #dbdbdb00;
    padding-top: 5vw;
    padding-bottom: 10vw;
  }

  .div-beneficios {
    border: 1px none var(--second-color);
    border-radius: 5vw;
    margin: 5vw 20px;
    padding: 15px 3vw;
    display: flex;
  }

  .text-beneficios {
    padding-left: 35px;
    padding-right: 35px;
  }

  .text-beneficios.pt {
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 4vw;
    line-height: 4.7vw;
  }

  .section-landing-page {
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-38 {
    background-color: #002e6c;
    margin-top: 0;
    padding: 20px 35px;
  }

  .div-block-40 {
    border: 1px #000;
    padding-left: 0;
    padding-right: 0;
  }

  .div-1 {
    margin-top: 0;
    padding: 40px 0;
  }

  .div-1.es {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .content-logotipos {
    height: auto;
  }

  .div-block-49 {
    padding-left: 0;
    padding-right: 0;
  }

  .formpopup-embed {
    display: none;
  }

  .descrip-logotipos {
    position: relative;
  }

  .div-block-57 {
    margin-top: 0;
  }

  .div-block-60 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-hospedagem {
    position: relative;
  }

  .div-block-61 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-embed-mobile {
    z-index: 100;
    background-color: #ededed00;
    border: 1px #000;
    display: none;
    position: fixed;
    inset: 0% 0% auto;
  }

  .body-7.simulador {
    background-color: #fff;
    padding-top: 0;
  }

  .section-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .planos-landing-pages {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .embed-avalia-es {
    background-color: #004aad00;
  }

  .section-avalia-es {
    background-color: #fff;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .heading-4 {
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-size: 6vw;
    line-height: 7vw;
  }

  .section-5 {
    padding: 100px 10px 30px;
  }

  .section-pre-rodape {
    background-color: #0000;
  }

  .section-rodape {
    padding: 7vw;
  }

  .div-block-84 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .heading-27 {
    justify-content: center;
    align-items: center;
    width: auto;
    height: 10vw;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 8vw;
  }

  .image-contato {
    width: 15vw;
    height: 15vw;
  }

  .column-13 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
  }

  .column-14 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vw;
    margin-bottom: 8vw;
    display: flex;
  }

  .column-15 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .text-block-29 {
    text-align: center;
    font-size: 5vw;
    line-height: 5vw;
  }

  .heading-29 {
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
    font-size: 10vw;
    line-height: 11vw;
  }

  .text-block-30 {
    text-align: center;
    font-size: 5vw;
    line-height: 7vw;
  }

  .text-contato {
    font-size: 5vw;
    line-height: 5vw;
  }

  .text-block-contato-secondary {
    text-align: center;
    font-size: 5vw;
    line-height: 7vw;
  }

  .text-block-contato {
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
    font-size: 5vw;
    line-height: 7vw;
  }

  .link-5 {
    margin-left: 2vw;
    font-size: 4vw;
  }

  .text-block-40 {
    margin-top: 7vw;
    font-size: 5vw;
  }

  .image-beneficios {
    width: 10vw;
    height: 10vw;
  }

  .embed-menu-flutuante {
    display: none;
  }

  .form-mobile {
    display: block;
  }

  .body-10 {
    background-color: #fff;
    padding-top: 25vw;
  }

  .body-11 {
    padding-top: 0;
  }

  .code-embed-45 {
    transform: none;
  }

  .section-10 {
    padding-top: 25vw;
  }

  .div-block-95 {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .code-embed-48 {
    background-color: #ededed;
  }

  .f-navigation-button, .cta-buttom-desktop {
    display: none;
  }

  .rt-number-block-2 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .a-pricing-card {
    width: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 10vw 5vw;
  }

  .rt-category-cards-text-2 {
    text-align: center;
  }

  .rt-component-section-4 {
    background-color: #0000;
  }

  .rt-info-block {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .rt-contact-one-information-box {
    grid-row-gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    box-shadow: 0 0 4px 1px #0000001a;
  }

  .button {
    margin-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 11px;
    line-height: 21px;
  }

  .section-portfolio {
    padding: 85px 25px 25px;
  }

  .intro-block-text-wrapper.mid {
    margin-bottom: 30px;
  }

  .intro-block-title {
    margin-bottom: 10px;
  }

  .container-2 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .info-column-right.responsive {
    padding-left: 30px;
    padding-right: 30px;
  }

  .description-paragraph {
    font-size: 12px;
    line-height: 19px;
  }

  .long-feature-block {
    padding-left: 54px;
    padding-right: 10px;
  }

  .section-title-wrapper {
    width: 100%;
    margin-bottom: 30px;
  }

  .section-title-wrapper.full {
    margin-bottom: 20px;
    padding-right: 0;
  }

  .home-mockup-column {
    height: 180px;
  }

  .long-feature-title {
    margin-bottom: 7px;
  }

  .home-mockup {
    height: 160px;
  }

  .home-mockup.iphone {
    height: 100px;
    top: 52px;
    right: -61px;
  }

  .home-mockup.ipad {
    height: 120px;
    top: 30px;
    right: -115px;
  }

  .section-responsive {
    padding: 25px;
  }

  .section-responsive.images {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .section-title {
    text-align: center;
    font-size: 25px;
    line-height: 26px;
  }

  .hero-overlay-block {
    padding: 120px 15px 110px;
  }

  .hero-main-title {
    font-size: 30px;
    line-height: 37px;
  }

  .hero-main-title.subtitle {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 22px;
  }

  .section-hero {
    background-image: none;
    background-position: 0 0;
    background-size: auto;
  }

  .navbar {
    height: 20vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
  }

  .transparant-menu-button {
    margin-right: 0;
  }

  .butom1 {
    margin-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 11px;
    line-height: 21px;
  }

  .butom1.full {
    width: 60vw;
  }

  .pricing-content-block {
    padding: 15px;
  }

  .pricing-content-block.first {
    height: auto;
  }

  .section-feature {
    padding: 25px;
  }

  .section-feature.tint {
    margin-top: 0;
    padding-top: 50vw;
  }

  .section-description {
    margin-top: 14px;
    font-size: 15px;
    line-height: 23px;
  }

  .section-description.small {
    width: 100%;
    margin-top: 15px;
    font-size: 17px;
    line-height: 25px;
  }

  .feature-info-paragraph {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
  }

  .feature-info-icon {
    height: 25px;
    margin-top: -3px;
  }

  .feature-info-row {
    display: flex;
  }

  .feature-info-title {
    margin-bottom: 12px;
  }

  .image-section-overlay {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .image-section-overlay.color {
    padding: 20px;
  }

  .feature-info-column.last {
    padding-bottom: 0;
  }

  .section-title-2 {
    font-size: 25px;
    line-height: 30px;
  }

  .heading-30 {
    font-size: 25px;
  }

  .container-3 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .footer-row {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-menu-column {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .section-pe {
    padding-top: 35px;
  }

  .simple-bottom-footer {
    padding: 20px 20px 13px;
  }

  .footer-inline-link {
    margin-top: -1px;
    margin-right: 7px;
  }

  .footer-logo-column-left {
    padding-bottom: 10px;
  }
}


